@use '../../theme/theme' as *;

.commentsSection {
  @include card;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: flex-end;

  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #111827;
  }
}

.commentForm {
  display: flex;
  gap: 1rem;
}

.commentInput {
  flex: 1;
  padding: 0.75rem 1rem;
  display: flex;
}

.sendCommentButton {
  @include icon-button($action, #fff);
  padding: 0.75rem 1rem;
}


.commentsList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow: auto;
  max-height: 8rem;
}

.commentItem {
  display: flex;
  gap: 1rem;
  align-items: flex-start;

  time {
    font-size: 0.75rem;
    color: gray-scale(50%);
  }
}

.commentAvatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: gray-scale(80%);
  flex-shrink: 0;
}

.commentContent {
  width: 100%;
}

.commentHeader {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  p {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

.commentFooter {
  flex: 1;
}

