@use '../../theme/theme' as *;

.liveChatsSection {
  @include card;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}

.chatItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  border: 1px solid gray-scale(80%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  position: relative;

  &:hover {
    background: $hover;
  }

  .chatInfo {
    display: flex;
    justify-content: space-between;

  }

  .chatUserInfo {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .chatUser {
    font-size: 1rem;
    font-weight: 500;
  }

  .chatTimestamps {
    display: flex;
    flex-direction: column;
    font-size: 0.85rem;
    align-items: flex-end;
    color: gray-scale(50%);

    .chatCreatedAt {
      font-size: 0.8rem;
      color: gray-scale(50%);
    }

    .chatUpdatedAt {
      font-size: 0.85rem;
      color: gray-scale(20%);
      font-weight: 500;
    }
  }
}