@use '../../theme/theme' as theme;

.button {
  @include theme.trans-button();
}

.avatar-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 50000;
}

.avatar-overlay {
  &:hover {
    opacity: 1;
  }
}
