$action: hsl(210, 80%, 50%);
$divider: hsl(216, 7%, 87%);
$background: hsl(210, 28%, 93%);
$accent: hsl(210, 41%, 31%);
$primary: hsl(0, 0%, 100%);
$hover: #eef2ff;

$error: hsla(0, 84%, 20%, 1);
$error-light: hsla(0, 84%, 85%, 1);
$red: hsla(0, 84%, 50%, 1);

@function gray-scale($lightness, $opacity: 1) {
    @return hsla(0, 0%, calc($lightness * 1%), $opacity);
}

@function darker($color, $amount) {
    @return adjust-color($color, $lightness: -$amount);
}

@function lighter($color, $amount) {
    @return adjust-color($color, $lightness: $amount);
}

:export {
    primary: $primary;
    action: $action;
    divider: $divider;
    background: $background;
    accent: $accent;
    error: $error;
}
