@use './system' as *;
@use './colors' as *;

@mixin font {
    font-family: 'Assistant', sans-serif;
}

/**
 * Centering elements
 * @use '../../../theme/theme' as theme;
 * @include theme.centerflex;
 */
@mixin centerflex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card {
    border-radius: $system-border-radius;
    background-color: $primary;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 3rem;
}