@use "../../theme/theme" as *;

.chatModal {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 350px;
  height: 500px;
  background: #fff;
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15),
  0 -4px 8px rgba(0, 0, 0, 0.1),
  4px 0 8px rgba(0, 0, 0, 0.1),
  -4px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  z-index: 1100;
  // Removed border
}

.chatHeader {
  padding: 1rem;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.125rem;
    font-weight: 600;
    color: #111827;
  }

  button {
    @include text-button($text: gray-scale(50));
  }
}

.chatMessages {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.message {
  background: #f3f4f6;
  padding: 0.75rem;
  border-radius: 0.5rem;

  &.ownMessage {
    background: #dbeafe;
    margin-left: auto;
    max-width: 80%;

    strong {
      color: #1d4ed8;
    }
  }

  strong {
    font-size: 0.875rem;
    color: #111827;
    display: block;
    margin-bottom: 0.25rem;
  }

  p {
    font-size: 0.875rem;
    color: #4b5563;
    margin-bottom: 0.25rem;
  }

  span {
    font-size: 0.75rem;
    color: #6b7280;
  }
}

.chatForm {
  padding: 1rem;
  height: 5rem;
  border-top: 1px solid #e5e7eb;
  display: flex;
  gap: 0.5rem;
}

.sendButton {
  @include icon-button($back: $action, $text: $primary);
  aspect-ratio: 1;
  height: 100%;
  padding: 0;
}