@use '../../theme/theme' as theme;

.container {
    height: 100%;
    background-color: theme.$error-light;
    color: theme.$error;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    svg {
        font-size: 2rem;
    }

    button {
        @include theme.base-button(theme.$error, white);
    }
}